body {
  margin: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  text-decoration: none;

  background-image: linear-gradient(to top, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.button:hover,
.button:focus {
  background-image:
    linear-gradient(to top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%),
    linear-gradient(to top, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);

  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.button:active {
  background-image: linear-gradient(to bottom, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.64);
}

.page-navigation {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.site-navigation,
.user-navigation,
.submenu {
  list-style: none;
}

.site-navigation-item a:hover,
.site-navigation-item a:focus {
  color: #323232;
  text-decoration: none;

  background-color: #f8f7f4;
}

.site-navigation a:active {
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105);
}

.site-navigation-item-current a {
  text-decoration: none;
  color: #ffffff;

  background-color: #d07058;
}

.submenu {
  display: none;
}

.user-navigation {
  text-align: right;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.user-navigation a {
  text-decoration: none;

  background-color: #9db1a5;
}

.user-navigation a:hover,
.user-navigation a:focus,
.user-navigation-cart-full a {
  color: #323232;

  background-color: #f8f7f4;
}

.modal-search,
.modal-login,
.cart {
  display: none;
}

.header-contacts {
  text-align: right;
  font-size: 14px;
  line-height: 16px;
}

.phone-number {
  font-size: 22px;
  line-height: 24px;
}

.slider {
  list-style: none;
}

.slide p {
  text-align: center;
  font-size: 60px;
  line-height: 61px;
}

.slide .button {
  font-size: 32px;
  line-height: 44px;
}

.promo {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.promo h3 {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

.raspberry-promo {
  background-color: #b3153f;
  background-image: url("../img/banner-background-1.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.chocolate-promo {
  background-color: #774e41;
  background-image: url("../img/banner-background-2.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.catalog-list {
  list-style: none;
}

.catalog-item img {
  border-radius: 50%;
}

.catalog-item a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.price span {
  font-size: 30px;
}

.store-description {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;

  background-color: #f0e6d0;
  background-image: url(../img/about-background.jpg);
}

.store-description-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.store-description-list {
  list-style: none;
}

.blog {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;

  background-color: #e6ebe9;
  background-image: url(../img/blog_background.jpg);
  background-repeat: no-repeat;
}

.blog a {
  font-size: 24px;
  line-height: 30px;
  color: #323232;

  background-color: #e6ebe9;
}

.subscribe {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
  background-color: #f8f7f4;
}

.contacts {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
  background-color: #ffffff;
}

.contacts .address,
.contacts .phone-number {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;
  background-color: #ffffff;
}

.footer-social,
.about-us {
  list-style: none;
}

.about-us {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.for-supplier {
  font-weight: 700;
}

.modal-feedback {
  display: none;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  list-style: none;
}

.page-title {
  font-size: 35px;
  line-height: 41px;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;

  color: #ffffff;
}

.pagination-item-current a {
  color: #323232;

  background-color: #ffffff;
}
