html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;

  background-color: #849d8f;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #ffffff;
}

a:hover,
a:focus,
a:active {
  color: #ffbc9e;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  padding: 10px 25px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  text-decoration: none;
  color: #ffffff;

  background-image: linear-gradient(to top, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);

  border: none;
  border-radius: 30px;
}

.button:hover,
.button:focus {
  color: #ffffff;

  background-image:
    linear-gradient(to top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%),
    linear-gradient(to top, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);

  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.button:active {
  color: #ffffff;

  background-image: linear-gradient(to bottom, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.64);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.page-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 10px;
}

.page-header-logo {
  width: 154px;
  height: 64px;
  margin-right: 10px;
}

.page-navigation {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.site-navigation,
.user-navigation,
.submenu {
  list-style: none;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
}

.site-navigation-item {
  position: relative;
  margin: 0;
  padding-top: 13px;
  padding-bottom: 13px;
}

.site-navigation-item>a {
  padding-top: 7px;
  padding-right: 14px;
  padding-bottom: 7px;
  padding-left: 14px;

  border-radius: 17px;
}

.site-navigation-item>a:hover,
.site-navigation-item>a:focus {
  color: #323232;
  text-decoration: none;

  background-color: #f8f7f4;
}

.site-navigation a:active {
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105);
}

.site-navigation-item-current>a {
  text-decoration: none;
  color: #ffffff;

  background-color: #d07058;
}

.submenu {
  position: absolute;
  top: 43px;
  z-index: 10;

  display: none;
  min-width: 143px;
  margin: 0;
  padding: 0;

  background-color: #f8f7f4;

  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.submenu-item {
  padding: 12px;
}

.new {
  position: relative;
}

.new::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 50%;

  width: 90%;
  height: 1px;
  margin-left: -45%;

  background-color: #d1d0ce;
}

.submenu-item:hover {
  background-color: #fbded7;
}

.submenu-item:active {
  background-color: #f6b5a5;
}

.submenu-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.submenu-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.submenu-item-current {
  background-color: #d07058;
}

.submenu-item a {
  margin: 0;
  padding: 0;
  padding-top: 9px;
  padding-bottom: 9px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #323232;
}

.new a {
  padding-top: 13px;
  padding-bottom: 13px;

  font-weight: 700;
}

.submenu-item-current a {
  color: #ffffff;
}

.submenu-item-current a:hover {
  color: #323232;
}

.submenu-item a:active {
  box-shadow: none;
}

.site-navigation-item:hover .submenu,
.site-navigation-item:focus-within .submenu {
  display: block;
}

.user-navigation {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-left: auto;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.user-navigation-item {
  position: relative;

  margin-right: 10px;
  padding-top: 7px;
  padding-bottom: 11px;
}

.user-navigation-item:last-child {
  margin-right: 0;
}

.user-navigation-button {
  text-decoration: none;

  background-color: rgba(255, 255, 255, 0.2);

  border-radius: 17px;
}

.user-navigation-button svg {
  display: inline-block;
  margin-right: 6px;

  vertical-align: middle;
}

.user-navigation-search {
  padding: 7px;
}

.user-navigation-search svg {
  margin-right: 0;
}

.user-navigation-login,
.user-navigation-cart,
.user-navigation-cart-full {
  padding-top: 7px;
  padding-right: 15px;
  padding-bottom: 8px;
  padding-left: 15px;
}

.user-navigation-button:hover,
.user-navigation-button:focus,
.user-navigation-cart-full {
  color: #323232;

  background-color: #f8f7f4;
}

.user-navigation-button:hover path,
.user-navigation-button:focus path,
.user-navigation-button:hover g,
.user-navigation-button:focus g {
  fill: #323232;
}

.user-navigation-cart-full:hover path:nth-child(1),
.user-navigation-cart-full:focus path:nth-child(1) {
  fill: #E84D37;
}

.user-navigation-cart-full:hover path:nth-child(2),
.user-navigation-cart-full:focus path:nth-child(2) {
  fill: #343434;
}

.modal-search,
.modal-login,
.cart {
  display: none;

  position: absolute;
  top: 37px;
  right: 0;
  z-index: 10;

  margin: 0;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
}

.modal {
  background-color: #f8f7f4;

  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.modal-search {
  width: 340px;
}

.modal-login {
  width: 275px;
}

.cart {
  width: 540px;
  flex-direction: column;
}

.cart-list {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  border-bottom: 1px solid #cacac7;
}

.cart-item td {
  position: relative;

  max-width: 235px;
  margin: 0;
  padding: 0;
  padding-right: 15px;
  padding-bottom: 20px;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #323232;
}

.cart-item td:first-child {
  padding-left: 10px;
}

.price-cart {
  padding-left: 15px;
}

.price-cart span {
  color: #999999;
}

.cart-sum {
  align-self: flex-end;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-size: 15px;
  line-height: 18px;
  color: #323232;
}

.cart .button {
  align-self: flex-end;
  padding: 10px 15px;
}

.delete-button {
  position: absolute;
  top: 11px;
  left: 0;

  width: 11px;
  height: 11px;
  margin: 0;
  padding: 0;

  font-size: 0;

  background-image: url("../img/cross-small.svg");
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;

  border: none;
}

.modal-login a {
  width: 100%;

  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
}

.modal-login .button {
  padding-top: 14px;
  padding-right: 30px;
  padding-bottom: 14px;
  padding-left: 30px;

  font-size: 14px;
  line-height: 16px;

  border-radius: 16px/22px;
}

.modal-login-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.login-help {
  margin-left: 20px;
}

.login-help p {
  margin: 0;
  padding: 0;
}

.search-field,
.login-input,
.feedback-input,
.feedback-textarea {
  width: 100%;
  margin-bottom: 20px;
  padding-top: 9px;
  padding-right: 14px;
  padding-bottom: 9px;
  padding-left: 14px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 700;

  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.search-field:hover,
.login-input:hover,
.feedback-input:hover,
.feedback-textarea:hover {
  padding-top: 8px;
  padding-right: 13px;
  padding-bottom: 8px;
  padding-left: 13px;

  border: 2px solid #c7c6c5;
}

.search-field {
  margin-bottom: 0;
}

.user-navigation-item:hover .modal-search,
.user-navigation-item:focus-within .modal-search,
.user-navigation-item:hover .modal-login,
.user-navigation-item:focus-within .modal-login {
  display: block;
}

.cart-item:hover .cart,
.cart-item:focus-within .cart {
  display: flex;
}

.header-wrap {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

.header-contacts {
  margin: 0;
  margin-left: auto;
  padding: 0;

  text-align: right;
  font-size: 14px;
  line-height: 16px;
}

.phone-number {
  display: block;
  width: 100%;
  margin-top: 4px;

  font-size: 22px;
  line-height: 24px;
}

.slider-container {
  position: relative;
}

.slider {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 275px;
}

.slide::before {
  content: "";
  position: fixed;
  top: -118px;
  left: 0;
  z-index: -100;

  width: 100%;
  height: 200vh;

  background-color: #849d8f;
}

.slide:nth-child(2)::before {
  background-color: #8996a6;
}

.slide:last-child::before {
  background-color: #9d8b84;
}

.slide img {
  position: absolute;
  top: -118px;
  left: 50%;
  z-index: -1;

  margin-left: -522px;
}

.slide p {
  width: 710px;
  margin: 0;
  margin-bottom: 27px;
  padding: 0;

  text-align: center;
  font-size: 60px;
  line-height: 61px;

}

.slide .button {
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 40px;

  font-size: 32px;
  line-height: 44px;

  border-radius: 32px;
}

.slider-switch {
  margin-top: -43px;
  margin-bottom: 63px;
}

.slider-switch label {
  display: inline-block;

  width: 22px;
  height: 22px;
  margin-right: 3px;

  vertical-align: top;

  background-color: transparent;

  border: 2px solid #ffffff;
  border-radius: 50%;

  cursor: pointer;
}

.slider-switch label:hover,
.slider-switch label:focus {
  background-color: rgba(248, 247, 244, 0.4);
}

.slider-switch label:active {
  background-color: #ffffff;
}

.slider-btn:checked+label {
  background-color: #ffffff;
}

.slider-btn:focus+label {
  outline: rgb(59, 153, 252) auto 5px;
}

.slide-show {
  display: flex;
}

.promo {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.promo h3 {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

.raspberry-promo,
.chocolate-promo {
  display: flex;
  flex-direction: column;
  width: 560px;
  padding-top: 16px;
  padding-right: 20px;
  padding-left: 20px;

  background-position: top center;
  background-repeat: no-repeat;

  border-radius: 15px;
}

.raspberry-promo {
  margin-right: auto;

  background-color: #b3153f;
  background-image: url("../img/banner-background-1.jpg");
  background-size: cover;
}

.chocolate-promo {
  background-color: #774e41;
  background-image: url("../img/banner-background-2.jpg");
  background-size: cover;
}

.raspberry-promo h3,
.raspberry-promo p,
.chocolate-promo h3,
.chocolate-promo p {
  margin: 0;
  padding: 0;
}

.raspberry-promo h3,
.chocolate-promo h3 {
  margin-bottom: 15px;
}

.raspberry-promo p,
.chocolate-promo p {
  margin-bottom: 43px;
}

.raspberry-promo .button,
.chocolate-promo .button {
  align-self: flex-end;
  margin-bottom: 24px;
  padding-top: 11px;
  padding-right: 23px;
  padding-bottom: 11px;
  padding-left: 24px;
}

.hits .catalog-list {
  margin: 0;
}

.hits-item {
  position: relative;
}

.hits-item::before {
  content: "";
  position: absolute;

  width: 61px;
  height: 61px;

  background-image: url("../img/hit.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;

  width: 267px;
  margin: 0;
  margin-right: 26px;
  margin-bottom: 38px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item img {
  border-radius: 50%;
}

.catalog-item a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.catalog-item h3 {
  margin: 0;

  text-align: center;
}

.price {
  margin: 0;
  margin-top: -64px;
  margin-bottom: 20px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  color: #ffffff;
}

.price span {
  font-size: 30px;
}

.catalog-item-overlay {
  display: none;
  position: absolute;
  top: -6px;
  left: -13px;
  z-index: 1;

  width: 293px;
  min-height: 400px;

  background-color: rgba(248, 247, 244, 0.2);

  border-radius: 5px;
}

.catalog-button {
  display: none;
  position: absolute;
  bottom: -50px;
  left: 45px;
  z-index: 1;

  padding: 10px 15px;
}

.catalog-item:hover .catalog-item-overlay,
.catalog-item:focus .catalog-item-overlay,
.catalog-item:hover .catalog-button,
.catalog-item:focus .catalog-button {
  display: block;
}


.store-description {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding-top: 24px;
  padding-right: 20px;
  padding-bottom: 2px;
  padding-left: 20px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;

  background-color: #f0e6d0;
  background-image: url(../img/about-background.jpg);

  border-radius: 15px;
}

.store-description-title {
  width: 100%;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.store-description-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;


  list-style: none;
}

.store-description-item {
  position: relative;

  width: 540px;
  margin-bottom: 21px;
  padding-left: 56px;
}

.store-description-item::before {
  content: "";

  position: absolute;
  top: -17px;
  left: 0;

  width: 49px;
  height: 49px;

  background-position: 0 0;
  background-repeat: no-repeat;
}

.store-description-item:first-child::before {
  background-image: url("../img/ice-cream.svg");
}

.store-description-item:nth-child(2)::before {
  background-image: url("../img/cow.svg");
}

.store-description-item:nth-child(3)::before {
  background-image: url("../img/eco.svg");
}

.store-description-item:last-child::before {
  background-image: url("../img/thermometer.svg");
}

.column-wrap,
.promo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog {
  display: flex;
  flex-direction: column;
  width: 560px;
  padding-top: 25px;
  padding-left: 20px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;

  background-color: #ffffff;
  background-image: url(../img/blog_background.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 15px;
}

.blog p {
  margin: 0;
  margin-bottom: 3px;
  padding: 0;
}

.blog a {
  width: 281px;
  margin-bottom: 80px;

  font-size: 24px;
  line-height: 30px;
  color: #323232;

  background-color: #ffffff;
}

.blog a:hover,
.blog a:focus,
.blog a:active {
  color: #e84d37;
}

.gradient-border {
  width: 560px;
  padding: 5px;

  background-image: repeating-linear-gradient(135deg,
      #f8f7f4 0px, #f8f7f4 8px,
      #92cdff 8px, #92cdff 16px,
      #f8f7f4 16px, #f8f7f4 24px,
      #fe9e90 24px, #fe9e90 32px);
  background-position: center center;
  background-repeat: repeat;

  border-radius: 15px;
}

.subscribe {
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 35px;
  padding-left: 21px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;

  background-color: #f8f7f4;

  border-radius: 15px;
}

.subscribe p {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
}

.subscribe-form {
  display: flex;
}

.subscribe-form .button {
  padding-top: 9px;
  padding-right: 19px;
  padding-bottom: 9px;
  padding-left: 19px;
}

.subscribe-input {
  flex-grow: 1;
  margin-right: 10px;
  padding-top: 8px;
  padding-right: 14px;
  padding-bottom: 8px;
  padding-left: 14px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;

  border: 1px solid #d3d3d2;

  border-radius: 5px;
}

.map {
  position: relative;

  min-width: 1200px;
  height: 430px;
}

.map iframe {
  position: relative;

  width: 100%;
  height: 430px;
  z-index: 1;

  border: none;
}

.map img {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 430px;
}

.map .container {
  position: relative;
}

.contacts {
  position: absolute;
  top: -368px;
  right: 27px;
  z-index: 2;


  display: flex;
  flex-direction: column;
  width: 302px;
  padding-top: 30px;
  padding-right: 25px;
  padding-left: 24px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;

  background-color: #ffffff;

  border-radius: 11px;
}

.contacts p {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.contacts .address,
.contacts .phone-number {
  display: block;
  width: 100%;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;

  background-color: #ffffff;
}

.contacts .button {
  align-self: center;
  margin-top: 5px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-right: 27px;
  padding-bottom: 10px;
  padding-left: 27px;
}

.modal-feedback {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 2;

  width: 477px;
  margin-left: -238px;
  padding: 25px;
}

.modal-feedback b {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.feedback-form {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

.feedback-form .feedback-input {
  width: 65%;
}

.submit-button {
  align-self: flex-end;
}

.close-button {
  position: absolute;
  top: -34px;
  right: -9px;

  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;

  font-size: 0;

  background-image: url("../img/cross-big.svg");
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;

  border: none;

  cursor: pointer;
}

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.5s;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 19px;
  margin-bottom: 25px;
}

.footer-social,
.about-us {
  list-style: none;
}

.footer-social {
  width: 267px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-left: 5px;
}

.footer-social li {
  margin-right: 16px;
}

.social-button svg {
  display: inline-block;

  vertical-align: middle;

  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-button:hover path,
.social-button:focus path,
.social-button:hover g,
.social-button:focus g {
  fill: rgb(255, 255, 255);
}

.social-button:active path,
.social-button:active g {
  fill: rgb(233, 233, 233);
}

.about-us {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 400px;
  margin: 0;
  padding: 0;
  padding-top: 15px;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.about-us li {
  min-width: 140px;
  margin-bottom: 5px;
  padding: 0;
  padding-left: 12px;
}

.for-supplier {
  position: relative;

  font-weight: 700;
}

.for-supplier::before {
  content: "";

  position: absolute;
  top: 3px;
  left: -11px;

  width: 15px;
  height: 13px;

  background-image: url("../img/heart.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.footer-copyright {
  width: 190px;

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.footer-copyright a {
  margin: 0;
  margin-bottom: 8px;
}

.footer-copyright p {
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  display: flex;
  align-items: flex-start;
  margin: 0;
  margin-top: -17px;
  margin-bottom: 4px;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  list-style: none;
}

.breadcrumb-item {
  position: relative;

  margin-right: 21px;
}

.breadcrumb-item::before,
.breadcrumb-item::after {
  content: "";

  position: absolute;
  top: 5px;
  right: -12px;

  width: 4px;
  height: 6px;

  background-image: url("../img/icon-right-small.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.breadcrumb-item::after {
  right: -14px;
}

.breadcrumb-item:last-child::before,
.breadcrumb-item:last-child::after {
  background: none;
}

.page-title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-size: 35px;
  line-height: 41px;
}

.filter {
  margin-bottom: 23px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
}

.filter-form fieldset,
.price-field {
  margin: 0;
  margin-right: 15px;
  margin-bottom: 17px;
  padding: 0;

  border: none;
}

.filter-form legend,
.price-field span:first-child {
  margin-left: 15px;
  margin-bottom: 5px;
}

.filter-form label,
.filter-form select,
.filter-button {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.filter-form select,
.fieldset-wrap,
.price-range {
  padding: 7px 15px;

  background-color: #abbcb2;

  border-radius: 18px;
}

.sort-field select {
  padding-top: 9px;
  padding-right: 33px;
  padding-bottom: 9px;
  padding-left: 15px;

  -webkit-appearance: none;
  appearance: none;

  border: none;
}

.sort-field select::-ms-expand {
  display: none;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::before {
  content: "";

  position: absolute;
  top: 14px;
  right: 14px;

  width: 11px;
  height: 10px;

  background-image: url("../img/select-arrow-white.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.select-wrapper:hover::before,
.select-wrapper:focus::before {
  background-image: url("../img/select-arrow-grey.svg");
}

.filter-form select:hover,
.filter-form select:focus {
  color: #323232;

  background-color: #aabab0;
}

.price-field {
  display: flex;
  width: 220px;
  flex-wrap: wrap;
}

.price-field span {
  line-height: 16px;
}

.price-field input {
  width: 29px;
  height: 16px;
  margin: 0;
  margin-left: 4px;
  padding: 0;

  font: inherit;
  color: inherit;

  background-color: transparent;
  border: none;
}

.price-range {
  width: 100%;
  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 16px;
  padding-left: 20px;
}

.scale {
  position: relative;

  width: 176px;
  height: 4px;
  padding-left: 34px;

  background-color: rgba(248, 247, 244, 0.5);
}

.price-slider {
  content: "";

  position: absolute;
  top: -8px;
  left: 15px;

  width: 20px;
  height: 23px;

  background-image: url("../img/filter-button.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

  cursor: pointer;
}

.price-slider:last-child {
  left: 113px;
}

.price-slider:hover,
.price-slider:focus {
  transform: scale(1.1);
}

.checked-range {
  width: 90px;
  height: 4px;

  background-color: #f8f7f4;
}

.additive {
  margin-right: 16px;
}

.fieldset-wrap {
  padding-top: 9px;
  padding-right: 16px;
  padding-bottom: 9px;
  padding-left: 14px;
}

.fat-content-field label {
  position: relative;

  margin-right: 15px;
  padding-left: 31px;
}

.additive label {
  position: relative;

  margin-right: 17px;
  padding-left: 33px;
}

.fat-content-field label:last-child,
.additive label:last-child {
  margin-right: 0;
}

.fat-content-field label::before,
.additive label::before {
  content: "";

  position: absolute;
  top: 0px;
  left: 0;

  width: 22px;
  height: 22px;

  background-position: 0 0;
  background-repeat: no-repeat;

  opacity: 0.8;
}

.fat-content-field label::before {
  background-image: url("../img/radio-off.svg");
}

.additive label::before {
  width: 23px;
  height: 20px;

  background-image: url("../img/checkbox-off.svg");
}

.fat-content-field label:hover::before,
.fat-content-field label:focus::before,
.additive label:hover::before,
.additive label:focus::before {
  opacity: 1;
}

.fat-content-radio:checked+label::before {
  background-image: url("../img/radio-on.svg");
}

.fat-content-radio:focus+label::before,
.additive-checkbox:focus+label::before {
  outline: rgb(59, 153, 252) auto 5px;
}

.additive-checkbox:checked+label::before {
  background-image: url("../img/checkbox-on.svg");
}

.fat-content-radio:disabled+label::before,
.additive-checkbox:disabled+label::before {
  opacity: 0.4;
}


.filter-button {
  margin: 0;
  margin-top: 3px;
  padding-top: 7px;
  padding-right: 27px;
  padding-bottom: 7px;
  padding-left: 27px;
  align-self: center;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  background-color: #abbcb2;

  border: 2px solid #ffffff;
  border-radius: 20px;
}

.filter-button:hover,
.filter-button:focus {
  color: #323232;

  background-color: #fbfcfb;
}

.filter-button:active {
  padding-top: 9px;
  padding-bottom: 9px;

  color: #323232;

  background-color: rgb(237, 237, 237);

  box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
  border: none;
}

.pagination-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;

  list-style: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  margin: 0;
  margin-right: 3px;

  border-radius: 50%;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item:hover,
.pagination-item:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item:active {
  background-color: #ffffff;
}

.pagination-item:active a {
  color: #323232;
}

.pagination-item a {
  padding: 7px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
}

.pagination-item-current {
  background-color: #ffffff;
}

.pagination-item-current a {
  color: #323232;
}

.pagination-item-forward {
  position: relative;

  margin-left: 12px;
  width: 8px;
  height: 26px;

}

.pagination-item-forward a::before,
.pagination-item-forward a::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 8px;
  height: 2px;

  background-color: #ffffff;
}

.pagination-item-forward a::before {
  top: 8px;
  right: 0;

  transform: rotate(45deg);
}

.pagination-item-forward a::after {
  top: 14px;
  right: 0;

  transform: rotate(-45deg);
}

.pagination-item-back {
  position: relative;

  margin-right: 16px;
  width: 8px;
  height: 26px;

}

.pagination-item-back a::before,
.pagination-item-back a::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 8px;
  height: 2px;

  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item-back a::before {
  top: 8px;
  right: 0;

  transform: rotate(-45deg);
}

.pagination-item-back a::after {
  top: 14px;
  right: 0;

  transform: rotate(45deg);
}

.pagination-item-back:hover,
.pagination-item-back:focus,
.pagination-item-forward:hover,
.pagination-item-forward:focus,
.pagination-item-back:active,
.pagination-item-forward:active {
  background-color: transparent;
}

@keyframes bounce {
  0% {
    transform: translateY(2000px);
  }

  70% {
    transform: translateY(-50px);
  }

  90% {
    transform: translateY(25px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
